.wrapper {
    height: 100%;
    width: 100%;
}
.chart-box {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main-page {
    align-items: center;
    text-align: center;
    display: contents;
}

.city-btns {

}